.Board {
  border-spacing: 0;
  border-collapse: collapse;
  margin-top: auto;
  margin-bottom: auto;
}

.Board__tile {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid black;
}

.Board__button {
  display: block;
  background: linear-gradient(45deg, #c0c0c0 25%, transparent 25%),
    linear-gradient(-45deg, #c0c0c0 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #c0c0c0 75%),
    linear-gradient(-45deg, transparent 75%, #c0c0c0 75%);
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 0;
}

.Board__button--col,
.Board__button--row {
  background-color: #ddd;
}

.Board__button--active {
  background-color: #aaa;
}

.Board__cell {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board__cell--error {
  color: red;
}

.Board__cols {
  padding: 5px 0;
  font-weight: normal;
}

.Board__rows {
  padding: 0 5px;
  font-weight: normal;
}

.Board__clue--complete {
  font-weight: bold;
}

.Indicator {
  background-color: #fff;
  border: 1px solid black;
  padding: 2px 5px;
}
