.Board {
  border-spacing: 0;
  border-collapse: collapse;
}

.Board__tile {
  background-color: ghostwhite;
  height: 20px;
  padding: 0;
  width: 20px;
  border: 1px solid black;
}

.Board__tile--active {
  background-color: gainsboro;
}

.Board__cell {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Board__cell--error {
  color: red;
}

.Board__cols {
  padding: 5px 0;
  font-weight: normal;
}

.Board__rows {
  padding: 0 5px;
  font-weight: normal;
}

.Board__clue--complete {
  font-weight: bold;
}
